* {
    /* Ice cream Color Palette */
    --chocolate: #6b3e26;
    --mandarin: #ffcb85;
    --peppermint:#c2f2d0;
    --strawberry: #ffc5d9;
    --cream: #fdf5c9;
    color: #6b3e26;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--chocolate);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
h1 {
    color: var(--mandarin);
    background-color: var(--chocolate);
    padding: 12px;
    border-style: outset;
    border-color: var(--mandarin);
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0 0 24px 20px var(--mandarin);
}

nav {
    height: 50px;
    width: 100%;
    padding-top: 28px;
    background-color: var(--mandarin);
}

nav a, footer a {
    padding: 0.6rem;
    text-decoration: none;
}

.con-details {
    background-color: var(--peppermint);
    padding: 0.5rem;
    width: 75%;
    margin-top: 20dvw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 8px 4px var(--peppermint);
}

footer {
    width: 100%;
    padding: 0;
    margin-top: auto;
    height: 40px;
    padding-top: 10px;
    background-color: var(--mandarin);
    text-decoration: none;
}

footer p {
    margin: 0;
    font-size:small;
}

footer a:hover, nav a:hover {
    background-color: var(--chocolate);
    color: var(--mandarin);
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: 0 0 28px 24px;
}

@media screen and (min-width: 600px) {
    header {
        gap: 52px;
    }
    nav a, footer a {
        padding: 1.8rem;
        font-size: x-large;
        font-weight: 600;
    }
    footer a:hover, nav a:hover {
        background-color: var(--chocolate);
        color: var(--mandarin);
        padding: 1.8rem;
        border-radius: 20px;
        box-shadow: 0 0 28px 24px;
    }
    .con-details {
        width: 700px;
        margin-top: 2dvw;
        margin-bottom: 2dvw;
        font-size: x-large;
    }
    
}
