* {
    /* Ice cream Color Palette */
    --chocolate: #6b3e26;
    --mandarin: #ffcb85;
    --peppermint:#c2f2d0;
    --strawberry: #ffc5d9;
    --cream: #fdf5c9;
    color: #6b3e26;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--chocolate);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
/* Text Component 1 = Navigation Bar styling */
nav {
    height: 52px;
    width: 100%;
    padding-top: 28px;
    background-color: var(--mandarin);
}

nav a, footer a {
    padding: 0.6rem;
    text-decoration: none;
}
/* Graphical Component 1 styling */
.container {
    position: relative;  
}

div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

div {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--mandarin);
    padding: 4px;
    border-style: outset;
    border-color: var(--mandarin);
    border-width: 8px;
    border-radius: 20px;
    box-shadow: 0 0 24px 20px;
    
}
#cen-txt {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: medium;
    font-weight:700;
    color: var(--mandarin);
}

.back-img {
    max-width: 100%;
    height: 83dvh;
    opacity: 0.5;
    object-fit: cover;
}

footer {
    width: 100%;
    padding: 0;
    margin-top: auto;
    height: 60px;
    padding-top: 10px;
    background-color: var(--mandarin);
    text-decoration: none;
}
/* Text Component 2 = Footer */
footer p {
    margin: 0;
    font-size:small;
}
/* Text Component 1 + Text Component 2  styling for pseudo-class: hover */
footer a:hover, nav a:hover {
    background-color: var(--chocolate);
    color: var(--mandarin);
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: 0 0 24px 20px;
}

@media screen and (min-width: 768px) {
    .back-img {
        max-width: 100%;
        border-style: outset;
        border-color: var(--mandarin);
        border-width: 4px;
        border-radius: 20px;
    }
    div img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    /* Graphical Component 1 animation for darrens image & name/title = only on larger screens*/
    div {
        top: 20%;
        left: 40%;
        animation-name: profile;
        animation-duration: 4s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    nav a, footer a {
        padding: 1.5rem;
        font-size: x-large;
        font-weight: 600;
    }
    /* Text Component 1 + Text Component 2  styling for pseudo-class: hover */
    footer a:hover, nav a:hover {
        background-color: var(--chocolate);
        color: var(--mandarin);
        padding: 1.5rem;
        border-radius: 20px;
    }
    /* Graphical Component 1 animation scaling in & out = only on larger screens*/
    @keyframes profile {
        0% {transform: scale(0.5);}
        100% {transform: scale(0.8);}
    }
}
