* {
    /* Ice cream Color Palette */
    --chocolate: #6b3e26;
    --mandarin: #ffcb85;
    --peppermint:#c2f2d0;
    --strawberry: #ffc5d9;
    --cream: #fdf5c9;
    color: #ffcb85;
}
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--mandarin);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    color: var(--chocolate);
    background-color: var(--mandarin);
    padding: 12px;
    border-style: outset;
    border-color: var(--chocolate);
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0 0 24px 20px var(--chocolate);
}

nav {
    height: 50px;
    width: 100%;
    padding-top: 28px;
    background-color: var(--chocolate);
}

nav a, footer a {
    padding: 0.6rem;
    text-decoration: none;
}

section {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;  
}

.back-image {
    background: url(../images/coding_PC_blurred.jpg);
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#image1 img{
    background-color: black;
    height: 120px;
    width: 120px;
    border-radius: 12px;
    border: var(--mandarin) solid 4px;   
}

#image2 img{
    height: 120px;
    width: 100px;
    border-radius: 50%;
    border: var(--mandarin) solid 4px;
}

.maintext {
    background-color: var(--cream);
    height: auto;
    width: 500px;
    border-radius: 20px;
}

h3, article p {
    color: var(--chocolate);
}
#image3 img{
    height: 150px;
    width: 200px;
    border-radius: 12px;
    border: var(--mandarin) solid 4px;
}
footer {
    width: 100%;
    padding: 0;
    margin-top: auto;
    height: 40px;
    padding-top: 10px;
    background-color: var(--chocolate);
    text-decoration: none;
}

footer p {
    margin: 0;
    font-size:small;
}

footer a:hover, nav a:hover {
    background-color: var(--mandarin);
    color: var(--mandarin);
    padding: 0.6rem;
    border-radius: 20px;
    box-shadow: 0 0 28px 24px;
}

@media screen and (max-width: 767px) {
    section {
        height: 650px;
        overflow: scroll;
    }
}
@media screen and (min-width: 768px) {
    header {
        gap: 52px;
    }
    nav a, footer a {
        padding: 1rem;
        font-size: x-large;
        font-weight: 600;
    }
    footer a:hover, nav a:hover {
        background-color: var(--mandarin);
        color: var(--chocolate);
        padding: 1rem;
        border-radius: 20px;
        box-shadow: 0 0 28px 24px;
    }
    
}
